#portfolio-page {
  height: 90vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #EF77CB !important;
    font-weight: 700;
}

.nav-item a {
  color: white;

}

.nav-item:hover {
    color: white;

}
