// #portfolio-page {
//   height: 90vh;
// }

$baby-blue: #36BCC1;
$baby-pink: #E780DA;
$dark-blue: #164BA7;

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: $baby-pink !important;
  font-weight: 700;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: white;
  font-weight: 800;
}

#back-button {
  color: white;
  padding: 8px;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}

@media screen and (max-width: 992px) {
  .carousel-inner {
  max-width: 200px;
  max-height: 300px;
  }
}

