// #portfolio-page {
//   height: 90vh;
// }

$baby-blue: #A2D8F1;
$baby-pink: #E8AFD7;
$dark-blue: #58BDED;

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: $baby-pink !important;
  font-weight: 700;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: white;
  font-weight: 800;
}

#back-button {
  color: white;
  padding: 8px;
}
