@import './pages/portfolio.scss';

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  & h1, h2, h3, h4, h5, h6 {
    font-family: 'Prompt', sans-serif;
  }
}

body {
/*  background-image: url('./images/3 (1).png');*/
  background-image: linear-gradient(135deg, $dark-blue, $baby-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.homepage {
  height: 85vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bg-div {
  height: 100vh;
  position: relative;
}

.activated {
  color: $baby-pink;
}

svg:hover {
  fill: white;
}

#portfolio-nav {
  font-size: calc(16px + 1.5vw);
}

#top-skills li {
  display: inline;
  margin: 12px;
}

@media screen
  and (min-width: 320px)
  and (max-width: 640px)
  and (-webkit-device-pixel-ratio: 3) {

  #portfolio-page {
    height: 100%;
  }

  #back-button {
    padding: 0;
  }

  #footer {
    font-size: 16px;
  }
}
